/* Grammatika Regular */

@font-face {
  font-family: 'Grammatika';
  font-style: normal;
  font-weight: normal;
  src:
    local('Grammatika Regular'),
    url('./Grammatika/GRAMATIKA REGULAR.OTF') format('opentype');
}
@font-face {
  font-family: 'Grammatika';
  font-style: normal;
  font-weight: bold;
  src:
    local('Grammatika Regular'),
    url('./Grammatika/GRAMATIKA BOLD.OTF') format('opentype');
}

/* Подключение шрифтов Suisse Intl */
@font-face {
  font-family: 'Suisse Intl';
  src: url('fonts/SuisseIntl-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('fonts/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('fonts/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./SuisseIntl/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./SuisseIntl/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./SuisseIntl/SuisseIntl-Book.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./SuisseIntl/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./SuisseIntl/SuisseIntl-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./SuisseIntl/SuisseIntl-Ultralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
